* {
  padding: 0;
  margin: 0;
}

.button {
  border: 1px solid #000;
  color: #fff;
  background-color: #2934d1;
}

input {
  padding: 10px 5px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

.overflow {
  overflow: auto;
  height: 50vh;
  border: 1px #000 solid;
}

.names,
.scores {
  width: 60%;
}

form {
  width: 500px;
  margin-left: 30px;
  margin-top: 300px;
}
