* {
  padding: 0;
  margin: 0;
}

.button {
  border: 1px solid #000;
  color: #fff;
  background-color: #2934d1;
}

input {
  padding: 5px 5px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

.overflow {
  overflow: auto;
  height: 60vh;
  border: 1px #000 solid;
}

.names,
.scores {
  width: 50%;
}
